{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}
    <div class="m-8 p-8 bg-gray-300 rounded-2xl shadow-xl">
        <div class="p-4 border-b border-gray-500 sm:px-6">
            <h3 class="text-2xl leading-6 font-medium text-gray-900">
                Create New User
            </h3>
        </div>
        <div class="p-4">
            <form action="." method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Create User" class="text-gray-200 bg-blue-500 hover:bg-gray-700 flex-shrink-0 inline-flex items-center justify-center rounded-lg py-2 px-4" />
            </form>
        </div>
    </div>
{% endblock content %}
